<h2>Application Server</h2>
<div class="row" ng-repeat="i in dimension1">
    <div class="col-md-4" ng-repeat="j in dimension2">
        <table class="table">
            <tr>
                <td ng-repeat="iocI in dimension1">{{iocI}} -- {{getValue1(i, j, iocI)}}</td>
            </tr>
            <tr>
                <td ng-repeat="iocJ in dimension2">{{iocJ}} -- {{getValue2(i, j, iocJ)}}</td>
            </tr>
        </table>
    </div>
</div>
