<div class="row">
    <div class="col-md-6" ng-controller="AnonymizationServerCtrl">
        <ng-include src="'app/partials/anonymization-server.html'"></ng-include>
    </div>
    <div class="col-md-6" ng-controller="ApplicationServerCtrl">
        <ng-include src="'app/partials/application-server.html'"></ng-include>
    </div>
</div>